<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7P2RNRSHB9wpUhgvlrIsn710UFdk44zs</string>
	<key>GCM_SENDER_ID</key>
	<string>71811481468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humberto.linkedList.list</string>
	<key>PROJECT_ID</key>
	<string>listpushnotifications</string>
	<key>STORAGE_BUCKET</key>
	<string>listpushnotifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71811481468:ios:4b45478f7e437d18a7eef9</string>
</dict>
</plist>